@model IEnumerable<escola.Models.Professores>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo1">Index</h1>
<div class="centralizar">

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<p>
    <a asp-controller="ProfessoresCandidatos" asp-action="Index">Ver Candidatos</a>
</p>
<table id="myTable" class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkedin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin)
            </td>
            <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width:100%">
                            Ações
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Editar</a> </li>
                            <li> <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Detalhes</a> </li>
                            <li> <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Deletar</a></li>
                        </ul>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
    @section Scripts{
            <script>
                $(document).ready(function () {
                    $('#myTable').DataTable();
                });
            </script>
    }
</div>